.coming-soon-title{
	width:70vw;
}

.comingSoonCardDisplay{
    height: 80vh !important;
    margin-bottom: 10%;
}
.swiper-slide{
    height: 100vh !important;
    justify-content: flex-start;
}
.comingSoonContainer{
    width: 90%;
    margin-left: 5%;
    height: 100vh !important;
}
.comingSoonCard{
    margin: 0%;
    width: 80%;
    background-color: #9c5df4 !important;
    height: 90vh !important;
    border-top-left-radius: 2rem;
}
.cardImg{
    height: 20vh !important;
    object-fit: contain;
}
.cardImg img{
    border-top-left-radius: 2rem;
}
.cardInformation{
    margin-top: 8rem !important;
    height: 20% !important;
    color: white;
}
.cardInformation h3{
    font-size: 1.9rem;
    margin: 0%;
}
.btn,
.btn::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, white 5%);
    border: 0;
    color: black;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    width: 80%;
    margin-top: 3%;
    margin-left: 19%;
   }
   
   .btn::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "ADD TO CART";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #e51ef6 5%, #78228F 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #e51ef6;
    clip-path: var(--slice-0);
   }
   
   .btn:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
   }
   
   @keyframes glitch {
    0% {
     clip-path: var(--slice-1);
     transform: translate(-20px, -10px);
    }
   
    10% {
     clip-path: var(--slice-3);
     transform: translate(10px, 10px);
    }
   
    20% {
     clip-path: var(--slice-1);
     transform: translate(-10px, 10px);
    }
   
    30% {
     clip-path: var(--slice-3);
     transform: translate(0px, 5px);
    }
   
    40% {
     clip-path: var(--slice-2);
     transform: translate(-5px, 0px);
    }
   
    50% {
     clip-path: var(--slice-3);
     transform: translate(5px, 0px);
    }
   
    60% {
     clip-path: var(--slice-4);
     transform: translate(5px, 10px);
    }
   
    70% {
     clip-path: var(--slice-2);
     transform: translate(-10px, 10px);
    }
   
    80% {
     clip-path: var(--slice-5);
     transform: translate(20px, -10px);
    }
   
    90% {
     clip-path: var(--slice-1);
     transform: translate(-10px, 0px);
    }
   
    100% {
     clip-path: var(--slice-1);
     transform: translate(0);
    }
   }


@media (min-width:300px){
    .comingSoonCard{
        height: 80vh !important;
    }
    .cardInformation h3{
        font-size: 1.9rem;
        margin-bottom: 10%;
    }
}


@media (min-width: 400px){
    .cardInformation h3{
        font-size: 1.5rem;
        margin-bottom: 15%;
    }
}

@media (min-width:530px){
    .cardInformation{
        margin-top: 25vh !important;

    }
    .cardImg{
        object-fit: contain;
    }
    .cardImg img{
        height: 40vh !important;
        border-top-left-radius: 2rem;
    }
    .comingSoonCard{
        width: 95% !important;
    }
    .btn{
        width: 80% !important;
    }
    .btn-500{
        margin-top: 15% !important;
    }
}


@media (min-width:700px){
    .btn-700{
        margin-top: 12% !important;
    }
}

@media (min-width:800px){
    .btn-800{
        margin-top: 16% !important;
    }
}

@media (min-width:900px){
    .cardInformation h3{
        margin-top: 15%;
        font-size: 1.5rem;
    }
    .btn-900{
        margin-top: 13.5% !important;
    }
}

@media (min-width:1100px){
    .cardInformation h3{
        font-size: 2rem !important;
        margin-top: 20% !important;
        margin-bottom: 2% !important;
    }
    .cardImg img{
        height: 30vh;
    }
    .comingSoonContainer{
        width: 90%;
        margin-left: 5%;
        height: 100vh;
    }
    .btn-1000{
        margin-top: 13.5% !important;
    }
    .btn-1000-2{
        margin-top: 5% !important;
    }
    .cardInformation h3{
        margin-top: 20%;
    }
}
