@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.container-cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Quicksand", sans-serif;
  background:url(https://fondosmil.com/fondo/1137.jpg);
  background-size: cover;
}

.card__image {
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 1em;
  backdrop-filter: blur(20px);
  margin: 1rem;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.05);
}
.card__header{
    filter: drop-shadow(0 0 0.75rem rgba(220, 207, 20, 0.356));
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(220, 207, 20, 0.356));
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: #fff;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
  width: auto;
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.tag + .tag {
  margin-left: .5em;
}
.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.card__footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: auto;
  color: #fff;
}
/* BUTTON */
.vm {
  width: 150px;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(#4faefc17,#006aff1c);
  color: #fff;
  font-size: 17px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: .8rem .5rem;
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.151);
  text-transform: uppercase;
  font-family: inherit;
  font-size: .8rem;
  text-shadow: #fafafab0 0px -1px 5px;
 }
 .vm:hover{
  text-shadow: #fafafab0 0px -1px 5px;
 }