@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap");
.top-container {
  min-height: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.TopImage{
    width: 28rem;
}
.topImages{
    display: flex;
    justify-content: space-evenly;
}
.trending-title{
    width: 26rem;
}