@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap");
.top-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    align-content: center;
}
.title-top{
    text-shadow: 2px 0 0 #2d2d2e75, -2px 0 0 #2d2d2e75, 0 2px 0 #2d2d2e75, 0 -2px 0 #2d2d2e75, 1px 1px #2d2d2e75, -1px -1px 0 #2d2d2e75, 1px -1px 0 #2d2d2e75, -1px 1px 0 #2d2d2e75;
    font-size:4rem;
    font-style: italic;
    font-weight: 900;
    color: #fffefe;
    z-index: 1;
    position: relative;
    text-align: center;
    font-family: 'Lexend Deca';
}
.line-title{
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
    width: 25rem;
    height: 2rem;
    margin: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    top: -2rem;
}
.child{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 2rem;
    height: 20rem;
    width: 19rem;
    margin: .5rem .5rem;
    background-color: #fffefe;
}
.header-container{
    height: 9rem;
    width: 19rem;
    border-radius: 2rem;
    filter:drop-shadow(000.75rem rgb(220, 183, 20));
}
.child img{
    height: 10rem;
    width: 19rem;
    padding: 1rem;
    object-fit: cover;
    border-radius: 2rem;
    filter:drop-shadow(000.75rem rgb(220, 183, 20));
}
.rating{
    margin: 0;
    font-family: inherit;
    font-size: .7rem;
    font-weight: 400;
    color: #fff;
    position: relative;
    bottom: 4rem;
    right: -7.3rem;
}
.number-rating{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    bottom: 3rem;
    right: -5.5rem;
    z-index: 1;
    text-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.line-rating{
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
    width: 2.7rem;
    height: .6em!important;
    position: relative;
    bottom:4rem;
    left:14.6rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.body-container{
    margin: auto;
    height: 10rem;
    overflow: hidden;
    padding: .5rem;
}
.headers-container{
    height: 1.5rem;
    width: auto;
}
.headers-container>h4{
    color: #2d2d2d;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(255 255 255 / 40%);
    font-family: Lexend Deca;
    font-weight: 900;
    z-index: 2!important;
    position: relative;
}
.line-header{
    z-index: -0!important;
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
    width: 16rem;
    height: .65rem!important;
    border-radius: 1rem;
    margin: auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    top: -1.5rem;
}
.paragraphs-body{
    overflow-y: hidden;
    width: 95%;
    margin: auto;
    text-align: center;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.65);
    padding: .5rem;
}